.menu-section-container{
    display: flex;
    flex-direction: column;
}

.menu-container{
 display:flex;
 font-size: 11px;
 /* width:250px;
 height: 40.5px;
 text-align: start;
 color: #6a7187; */
}

.dashboard-container{
display: flex;
align-items: center;

}

.svg-icon-container{
 display: flex;
}

.dashboard-name-container{
    display: flex;
}

.drop-down-icon-container{
    display: flex;
}

.drop-down{
    display: flex;
}